

.speciality_card {
	min-height: 22rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: #ffffff;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	box-shadow: 3px 3px 6px 0 rgb(45 45 51 / 8%);
	padding: 1rem 3rem;
	cursor: default;
}

.speciality_card > .speciality_card_img {
	width: 98px;
	height: 98px;
}

.speciality_card > .speciality_card_title {
	height: 36px;
	font-size: 1.6rem;
	text-align: center;
	color: #2d2d32;
	margin: 1rem 0;
}

.speciality_card > .speciality_card_price {
	font-size: 1.4rem;
	color: #787887;
	font-weight: 400;
}

.speciality_card > .consult_link {
	display: block;
	font-size: 1.4rem;
	margin-top: 9px;
	font-weight: 700;
	margin-bottom: 2rem;
	color: #14bef0;
	text-decoration: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-weight: 400;
	font-family: 'CamphorBold';
}

.consult_link > svg{
	height: 3rem;
}
