.main-section {
  display: flex;
  justify-content: space-between;
  margin: 0px 10%;
  font-size: 16px;
}
.inputDiv {
  /* background-color: blue; */
  display: flex;
  padding: 20px 0px;
}
.div {
  display: flex;
  border: 1px solid black;
  /* border-bottom: none; */
  background-color: white;
  width: 250px;
  padding: 6px 0px;
}
.div input {
  border: none;
  width: 80%;
  cursor: pointer;
}
.doctorInputDiv {
  width: 400px;
}

.icons {
  padding: 0px 6px;
}

.imageDiv {
  width: 200px;
  position: relative;
  align-items: center;
  align-self: center;
}
.imagetag {
  width: 100%;
  float: right;
}
.doctorsHidden {
  width: 400px;
  
  position: absolute;
  top: 33px;
  display: flex;
  flex-flow: column;
  background-color: white;
  cursor: pointer;
  
    font-size: 14px;
    border-bottom: 1px solid #e0e0e5;
    line-height: 1.5;
    color: #414146;
    
    
    display: table;
    zoom: 1;
  
}
.placesHidden {
  width: 250px;
  
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 32px;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
    border-bottom: 1px solid #e0e0e5;
    line-height: 1.5;
    color: #414146;
    
    
    display: table;
    zoom: 1;
}
.doctorsHiddenDiv {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-bottom: none;
}
