.ConsultPageSection {
  background-color: #f0f0f5;
  padding-top: 35px;
  height: 100vh;
  font-family: roboto;
  position: relative;
}
.flexBox {
  display: flex;
}
.flexBox > div {
  flex-basis: 50%;
}
.flex2 {
  display: flex;
  justify-content: right;
}
/* .flex2:after {
  display: block;
  height: 300px;
  background-color: black;
  content: "";
  width: 1px;
  margin: auto 0px;
} */
.flex12 {
  width: 440px;
  background-color: #ffffff;
  padding-right: 40px;
  padding: 25px;
  padding-bottom: 30px;
}
.flex12Header {
  font-size: 170%;
  padding: 15px 0px;
}
.flex1 {
  display: flex;
  width: 440px;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.flex1 > div > img {
  width: 105px;
  height: 108px;
  margin: 0px 8%;
}
.PatientHeader {
  margin: 10px 0px;
}
.PatientHeader > h2 {
  font-size: 215%;
  margin-bottom: 25px;
}
.PatientHeader > div {
  font-size: 140%;
}
.inputNameBox {
  width: 400px;
  background-color: white;
  height: 40px;
  display: flex;
  border: 1px solid black;
  border-radius: 3px;
  align-items: center;
  /* margin-bottom: 15px; */
}
.iconCercle {
  font-size: medium;
  margin: 0px 10px;
}
.inputNameBox > input {
  width: 80%;
  border: none;
  height: 70%;
}

.followingDiv {
  margin: 15px 0px;
  font-size: 140%;
}
.fullNameLabel {
  font-size: 140%;
  margin-bottom: 7px;
}
.inputFullNameBox {
  width: 400px;
  height: 61px;
  border-radius: 3px;
  padding: 5px;
  background-color: white;
  align-items: center;

  border: 1px solid black;
}
.inputFullNameBox > input {
  width: 85%;
  border: none;
}
.mobileInput {
  justify-content: space-between;
}
.confirmDiv {
  width: 134px;
  height: 41px;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  background-color: white;
  align-items: center;
  background-color: #199fd9;
  font-size: 140%;
  text-align: center;
}
.confirmBox {
  display: inline-block;
  margin: 0px auto;
  color: white;
}
.mobileNumberDiv {
  font-size: 140%;
  margin: 10px 0px;
}
.termsDiv {
  font-size: 120%;
}
.wholeOtpBox {
  padding: 10px;
  width: 420px;
  padding-bottom: 60px;
  background-color: white;
}
.flex5 {
  /* background-color: blueviolet; */
  /* padding-right: 40px; */
  width: 400px;
  border-radius: 5px;
  /* padding: 0px 10px; */
}
.otpBox {
  margin-bottom: 0px;
  /* background-color: violet; */
}
.inputOtpBox {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid black;
  background-color: unset;
}
.resendOtpBox {
  display: flex;
  justify-content: space-between;
}
.numberBox {
  display: flex;
  width: 298px;
  height: 44px;
}
.specialityBox {
  width: 80%;
}
.icons {
  margin-right: 7px;
}
.speciality {
  display: flex;
  width: 231px;
  margin-bottom: 10px;
  height: 44px;
}
.imageTitle {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.modal {
  position: absolute;
  top: 12px;
  left: 37%;
  background: white;
  box-shadow: 0px 1px 3px black;
  width: 426px;
  height: 337px;
  border-radius: 4px;
}
.modalHeader {
  padding: 15px 17px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.modalHeader > div {
  font-size: 14px;
}
.modalContent {
  /* background: red; */
  padding: 14px 25px;
  font-size: 14px;
}
.text {
  margin-bottom: 10px;
}
.otpNumbBox {
  display: flex;
  margin-bottom: 10px;
}
.otpNumbBox > h3 {
  margin-right: 15px;
}
.modalOtpBox {
  width: 375px;
  /* background: blue; */
  height: 36px;
  display: flex;
  margin-bottom: 5px;
}
.modalOtpBox > input {
  width: 100%;
}
.text2 {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.loginButton {
  width: 375px;
  background: blue;
  border-radius: 4px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 25px;
}
.ballIconBox {
  display: flex;
  align-items: center;
}
.ballIconBox > div:last-child {
  margin-left: 13px;
}
.iconBall {
  font-size: 41px;
  margin-right: -10px;
}
.text3 {
  display: flex;
}
.text3 > div {
  margin-left: 10px;
}
.nameBox {
  width: 302px;
  height: 35px;
}
.price {
  font-size: 20px;
  font-weight: 500;
}
.text4 {
  font-size: 13px !important;
}
.payment {
  width: 239px;
}
